<%= form_for(@study_material) do |f| %>
  <% if @study_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_material.errors.count, "error") %> prohibited this study_material from being saved:</h2>

      <ul>
      <% @study_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :material_type %><br>
    <%= f.radio_button(:material_type, "Quick Concepts") %>
    <%= label_tag(:material_type_quick_concepts, "Quick Concepts") %>
    <%= f.radio_button(:material_type, "Learn Smart") %>
    <%= label_tag(:material_type_learn_smart, "Learn Smart") %>
    <%= f.radio_button(:material_type, "Exam Prep") %>
    <%= label_tag(:material_type_exam_prep, "Exam Prep") %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :material_source %><br>
    <%= f.text_area :video_source %>
  </div>
  <div class="field">
    <%= f.label :video_duration %><br>
    <%= f.number_field :video_duration %>
  </div>
  <div class="field">
    <%= f.label :model_source %><br>
    <%= f.text_area :model_source %>
  </div>
  <div class="field">
    <%= f.label :chapter_id %><br>
    <%= f.number_field :chapter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
