<% unless params[:action] == "create" %>
  <h3><%= @chapter.subject.standard %>th <%= @chapter.subject.board %>: <%= @chapter.subject.name %></h3>
  <h2><b><%= @chapter.chapterNumber %>. <%= @chapter.name %></b></h2>
  <br>
<% end %>

<%= form_for(@study_material) do |f| %>
  <% if @study_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_material.errors.count, "error") %> prohibited this study_material from being saved:</h2>

      <ul>
      <% @study_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :chapter_id %>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <p class="form-label">Material Type</p>
      <p class="form-label">Material No.</p>
      <p class="form-label">Material Name</p>
      <br>
      <p class="form-radio">.</p>
      <p class="form-label">Video</p>
      <p class="form-label">Interactive</p>
      <br>
      <p class="form-label">Next Step</p>
      <p class="form-label">Admin Incharge</p>
    </div>
    <div class="col-xs-12 col-sm-9">
      <p class="form-radio">
        <%= f.radio_button(:material_type, "Quick Concepts") %>
        <%= label_tag(:material_type_1, "Quick Concepts") %> &nbsp; &nbsp;
        <%= f.radio_button(:material_type, "Learn Smart") %>
        <%= label_tag(:material_type_2, "Learn Smart") %> &nbsp; &nbsp;
        <%= f.radio_button(:material_type, "Exam Prep") %>
        <%= label_tag(:material_type_3, "Exam Prep") %>
      </p>
      <p><%= f.number_field :material_no, placeholder: "Material No.", class: "form-control" %></p>
      <p><%= f.text_field :name, placeholder: "Material Name", class: "form-control" %></p>
      <br>
      <p class="form-radio"><em>Ezee Content (Choose One)</em></p>
      <p><%= f.number_field :video_content_id, placeholder: "Dropdown", class: "form-control" %></p>
      <p><%= f.number_field :interactive_content_id, placeholder: "Dropdown", class: "form-control" %></p>
      <br>
      <p><%= f.select :next_step, options_for_select([["Upload & Assign"], ["Content Review"], ["Content Work in Progress"], ["Content Sign-off"], ["User Review"], ["Completed"]]) %></p>
      <p><%= f.select :admin_incharge, options_for_select([["Archie"], ["Deepak"], ["Ashwini"], ["Pranav"], ["Alok"]]), :include_blank => true %></p>
    </div>
  </div>

  <br>
  <p><%= f.submit class: "btn btn-block btn-green" %></p>
<% end %>
