<% unless params[:action] == "create" %>
  <h3><%= @chapter.subject.standard %>th <%= @chapter.subject.board %>: <%= @chapter.subject.name %></h3>
  <h2><b><%= @chapter.chapterNumber %>. <%= @chapter.name %></b></h2>
  <br>
<% end %>

<%= form_for(@study_material) do |f| %>
  <% if @study_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_material.errors.count, "error") %> prohibited this study_material from being saved:</h2>

      <ul>
      <% @study_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :chapter_id %>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="form-label">Material Type</div>
      <div class="form-label">Material No.</div>
      <div class="form-label">Material Name</div>
      <br>
      <div class="form-radio">.</div>
      <div class="form-label">Video</div>
      <div class="form-label">Interactive</div>
      <br>
      <div class="form-label">Next Step</div>
      <div class="form-label">Admin Incharge</div>
      <div class="form-label">Admin Notes</div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="form-radio">
        <%= f.radio_button(:material_type, "Quick Concepts") %>
        <%= label_tag(:material_type_1, "Quick Concepts") %> &nbsp; &nbsp;
        <%= f.radio_button(:material_type, "Learn Smart") %>
        <%= label_tag(:material_type_2, "Learn Smart") %>
      </div>
      <%= f.number_field :material_no, placeholder: "Material No.", class: "form-control" %> 
      <%= f.text_field :name, placeholder: "Material Name", class: "form-control" %> 
      <br>

      <div class="form-radio"><em>Ezee Content (alteast one)</em></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.number_field :video_content_id, placeholder: "Video ID", class: "form-control" %>  
        </div>
        <div class="col-xs-12 col-sm-6">

          <% if @study_material.video_content != nil %>
            <button type="button" class="btn btn-red btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target="#video-content">View Video</button>

            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 modal" id="video-content" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="panel-red panel-title left">
                    <%= @study_material.video_content.name %>
                    <div class="modal-actions pull-right">
                      <button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    </div>
                  </div>

                  <div class="modal-body">          
                    <div class="videoWrapper">  
                      <%= @study_material.video_content.content.html_safe %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% else %>
            <button type="button" class="btn btn-disabled btn-block" style="margin-bottom: 10px;" disabled="disabled">View Video</button>
          <% end %>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.number_field :interactive_content_id, placeholder: "Interactive ID", class: "form-control" %>  
        </div>
        <div class="col-xs-12 col-sm-6">
          <% if @study_material.interactive_content != nil %>
            <button type="button" class="btn btn-orange btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target="#interactive-content">View Interactive</button>

            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 modal" id="interactive-content" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="panel-orange panel-title left">
                    <%= @study_material.interactive_content.name %>
                    <div class="modal-actions pull-right">
                      <button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    </div>
                  </div>

                  <div class="modal-body">          
                    <% if @study_material.interactive_content.content_type == "Mind Map" %>
                      <div class="mapWrapper">
                        <div id="flashcontent">
                          Flash not working!
                        </div>
                      </div>

                    <% else %>
                      <div class="videoWrapper">
                        <!-- Div ID for setting 3D Interactive -->
                        <div id="rotateContent">
                          <button type="button" class="btn btn-block btn-primary" onclick="getScale()">
                            Click to Show 3D Model 
                          </button>
                        </div>
                      </div>

                    <% end %>
                  </div>

                </div>
              </div>
            </div>

            <!-- For setting MindMap Path -->
            <script type="text/javascript">
              var fo = new FlashObject("<%= asset_path("visorFreeplane.swf") %>", "visorFreeplane", "100%", "100%", 4);
              fo.addParam("quality", "high");
              fo.addVariable("bgcolor", 0xfffffff);
              fo.addVariable("openUrl", "_blank");
              fo.addVariable("initLoadFile", "<%= @study_material.interactive_content.content.url %>"); 
              fo.addVariable("startCollapsedToLevel","1");
              fo.write("flashcontent");
            </script>

            <!-- For setting 3D Interactive Path -->
            <script type="text/javascript">
              function getScale(){
                var div = document.getElementById("rotateContent");
                var height = div.offsetHeight;
                var width = div.offsetWidth;
                if (typeof(RotateTool) == 'undefined') {
                  alert('rotate.js not loaded!');
                }
                else {
                  var jsParams    = {};
                  jsParams.path   = "<%= @study_material.interactive_content.content.url.gsub(/original.*$/,'original/').gsub(/http:/,'https:') %>";
                  jsParams.target = "rotateContent";
                  jsParams.targetWidth  = width;
                  jsParams.targetHeight = height;
                  RotateTool.add(jsParams);
                }
              }
            </script>
            
          <% else %>
            <button type="button" class="btn btn-disabled btn-block" style="margin-bottom: 10px;" disabled="disabled">View Interactive</button>
          <% end %>
        </div>
      </div>

      <br>
      <p><%= f.select :next_step, options_for_select([["Not Available"], ["Content Review-Refine"], ["Upload & Assign"], ["Content Sign-off"], ["User Review"], ["Completed"]], f.object.next_step) %></p>
      <p><%= f.select :admin_incharge, options_for_select([["Archi"], ["Deepak"], ["Ashwini"], ["Pranav"], ["Alok"]], f.object.admin_incharge), include_blank: true %></p>
      <p><%= f.text_area :admin_notes, placeholder: "Comments", rows: "3", class: "form-control" %></p>
    </div>
  </div>

  <br>
  <%= f.submit class: "btn btn-block btn-green" %> 

<% end %>