<div class="col-xs-12 col-sm-3" style="padding:0px;">
  <a href="<%= root_path %>" class="supress-a">
    <div class="secondary-nav secondary-nav-button">
      <i class="fa fa-2x fa-arrow-left secondary-nav-icon pull-left"></i>
      <h3>10th CBSE</h3>
      <h2>All Subjects</h2>
    </div>
  </a>
</div>

<div class="col-xs-12 col-sm-9">
  
  <div class="secondary-nav secondary-nav-invert">
      
    <i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
    <h2 class="font-invert"><b>Profile Settings</b></h2>
    <h3 class="font-invert"><%= current_user.first_name %>'s Profile</h3>

  </div>
  
  <div class="content-container">
    
    <div class="panel-primary">
      <div class="panel-title">
       Edit My Profile
      </div>
    </div>

    <div class="panel-body form-container">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <p class="form-label">Name</p>
            <p class="form-label">Email</p>
            <p class="form-label">Mobile</p>
            <% if current_user.role == "Admin" %>
              <p class="form-label">Role</p>
            <% end %>
            <p class="form-label">New Password</p>
            <p class="form-label">Current Password</p>
          </div>
          <div class="col-xs-12 col-sm-9">
            <p><%= f.text_field :name, placeholder: "full name", class: "form-control" %></p>
            <p><%= f.email_field :email, placeholder: "email", disabled: "disabled", class: "form-control" %></p>
            <p><%= f.text_field :phone_number, placeholder: "mobile", class: "form-control" %></p>

            <% if current_user.role == "Admin" %>
              <p><%= f.email_field :role, placeholder: "role", disabled: "disabled", class: "form-control" %></p>
            <% end %>

            <p><%= f.password_field :password, placeholder: "leave blank if you don't want to change it", :autocomplete => "off", class: "form-control" %></p>
            <p><%= f.password_field :current_password, placeholder: "* we need this to confirm your changes", class: "form-control" %></p>
            
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <p><%= f.submit "SAVE CHANGES", class: "btn btn-block btn-green" %></p>
          </div>
        </div>

      <% end %>

    </div>

  </div>
    
  <div class="content-container">
    
    <div class="panel-primary">
      <div class="panel-title">
       Delete My Profile
      </div>
    </div>

    <div class="panel-body form-container">

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <p class="form-label">Unhappy?</p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= link_to "DELETE MY PROFILE", registration_path(resource_name), :data => { :confirm => "Are you sure? All your progress will be lost. And this step cannot be reversed." }, :method => :delete, class: "btn btn-block btn-red" %>
          <p class="form-radio"><em>* I understand that this step cannot be reversed and all my progress will be lost.</em></p>
        </div>
      </div>

    </div>

  </div>

</div>
