<%= form_for @interactive_content, html: { multipart: true } do |f| %>
  <% if @interactive_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interactive_content.errors.count, "error") %> prohibited this interactive_content from being saved:</h2>

      <ul>
      <% @interactive_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="form-label">Content Type</div>
      <div class="form-label">Name</div>
      <div class="form-label">Upload</div>
      <div class="form-label">Dev date</div>
      <div class="form-label">Developer</div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="form-radio">
        <%= f.radio_button(:content_type, "Mind Map") %>
        <%= label_tag(:content_type_1, "Mind Map") %> &nbsp; &nbsp;
        <%= f.radio_button(:content_type, "3D Model") %>
        <%= label_tag(:content_type_2, "3D Model") %>
      </div>
      <%= f.text_field :name, placeholder: "Material Name", class: "form-control" %> 
      <%= f.file_field :content, class: "form-control" %>  
      <%= f.date_field :production_date, class: "form-control" %>  
      <%= f.text_field :producer_name, placeholder: "Developer Name", class: "form-control" %> 

      <% if @interactive_content.content? %>
        <button type="button" class="btn btn-orange btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target="#content">View Interactive</button>
      <% end %>
    </div>
  </div>

  <br>
  <p><%= f.submit class: "btn btn-block btn-green" %></p>

  <div class="modal" id="content" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="panel-orange panel-title left">
          <%= @interactive_content.name %>
          <div class="modal-actions pull-right">
            <button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="modal-body"> 
          <div class="row">
            <div class="col-sm-12 col-md-8">  
              <div class="mapWrapper">
                <div id="flashcontent">
                  Flash not working!
                </div>
                
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <p class="form-radio"><b>Ezee Content Notes</b></p>  
              <p><%= f.text_area :admin_note, placeholder: "Comments", rows: "10", class: "form-control" %></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- For setting MindMap Path -->
  <script type="text/javascript">
    var fo = new FlashObject("<%= asset_path("visorFreeplane.swf") %>", "visorFreeplane", "100%", "100%", 4);
    fo.addParam("quality", "high");
    fo.addVariable("bgcolor", 0xfffffff);
    fo.addVariable("openUrl", "_blank");
    fo.addVariable("initLoadFile", "<%= @interactive_content.content.url if @interactive_content.content? %>"); 
    fo.addVariable("startCollapsedToLevel","1");
    fo.write("flashcontent");
  </script>

<% end %>
