<div class="col-sm-6 col-sm-offset-3 center">
	
	<div class="content-container">
		
		<div class="panel-primary">
		    <div class="panel-title">
			   	Forgot your password?
		    </div>
		</div>

		<div class="panel-body form-container">

				<image src="/images/home-icon-2.png" style="height:40px; margin-bottom:7px;">
				<p>Study Fast. &nbsp; Learn Smart. &nbsp; Score Better.</p>
				<br>

				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <p><%= f.email_field :email, placeholder: "email", class: "form-control", :autofocus => true %></p>
	        

				  <%= devise_error_messages! %>
		      <p><%= f.submit "SEND ME RESET PASSWORD EMAIL", class: "btn btn-block btn-green" %></p>
		    <% end %>

		</div>

	</div>

  <%= render "devise/shared/links" %>

</div>