<% unless params[:action] == "create" %>
  <h3><%= @video_content.name %></h3>
  <h2><b>Long Question (5 Marks)</b></h2>
  <br>
<% end %>

<%= form_for(@assessment_content) do |f| %>
  <% if @assessment_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment_content.errors.count, "error") %> prohibited this assessment_content from being saved:</h2>

      <ul>
      <% @assessment_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :video_content_id %>
  <%= f.hidden_field :content_type %>
  <%= f.hidden_field :teacher_name %>

  <p class="form-radio"><b>Question:</b><p>
  <p><%= f.text_area :question, placeholder: "Question", rows: "3", class: "form-control" %></p>

  <p class="form-radio"><b>Answer (parts based on marking scheme):</b><p>
  <p><%= f.text_area :answer_a, placeholder: "Part A (1 mark)", rows: "3", class: "form-control" %></p>
  <p><%= f.text_area :answer_b, placeholder: "Part B (1 mark)", rows: "3", class: "form-control" %></p>
  <p><%= f.text_area :answer_c, placeholder: "Part C (1 mark)", rows: "3", class: "form-control" %></p>
  <p><%= f.text_area :answer_d, placeholder: "Part D (1 mark)", rows: "3", class: "form-control" %></p>
  <p><%= f.text_area :mcq_explanation, placeholder: "Part E (1 mark)", rows: "3", class: "form-control" %></p>
  
  <br>
  <p class="form-radio"><b>Assessment Images:</b><p>
  <!-- Nested form for Assessment Images -->
  <%= f.fields_for :assessment_images do |builder| %>
    <%= render partial: 'assessment_image_fields', object: builder, as: 'f' %>
  <% end %>
  <p class="form-radio"><%= link_to_add_fields "Add Image", f, :assessment_images %></p>
  <br>
  
  <div class="row">
    <div class="col-sm-4">
      <p class="form-radio"><b>Belongs to Practice Group:</b></p>
      <p class="form-radio"><b>Submitted by:</b></p>
      <p class="form-radio"><b>Next Step:</b>
      </p>
    </div>
    <div class="col-sm-8">
      <p class="form-radio">
        <%= f.radio_button(:practice_level, "Level 1") %> Level 1 &nbsp; &nbsp;
        <%= f.radio_button(:practice_level, "Level 2") %> Level 2 &nbsp; &nbsp;
        <%= f.radio_button(:practice_level, "Level 3") %> Level 3 &nbsp; &nbsp;
      </p>
      <p class="form-radio">
        <%= if params[:action] == "create" then current_user.name else @assessment_content.teacher_name end %>
      </p>
      <%= f.select :next_step, options_for_select([["Content Review-Refine"], ["Content Rework"], ["Completed"]], f.object.next_step), include_blank: "--- Next Step ---" %>    
    </div>
  </div>
  <br>
  <p><%= f.submit class: "btn btn-block btn-green" %></p>
<% end %>
