<div class="assessment-container">
  
  <div class="assessment-question">
    <div class="question-icon">Q</div>
    <div class="assessment-text"><b><%= @assessment_content.question.html_safe %></b></div>
  </div>

  <div class="mcq-option">
    <div class="answer-icon<%= "-green" if @assessment_content.mcq_answer == "A" %>">A</div>
    <div class="answer-text"><%= @assessment_content.answer_a.html_safe %></div>
  </div>
  <div class="mcq-option">
    <div class="answer-icon<%= "-green" if @assessment_content.mcq_answer == "B" %>">B</div>
    <div class="answer-text"><%= @assessment_content.answer_b.html_safe %></div>
  </div>
  <div class="mcq-option">
    <div class="answer-icon<%= "-green" if @assessment_content.mcq_answer == "C" %>">C</div>
    <div class="answer-text"><%= @assessment_content.answer_c.html_safe %></div>
  </div>
  <div class="mcq-option">
    <div class="answer-icon<%= "-green" if @assessment_content.mcq_answer == "D" %>">D</div>
    <div class="answer-text"><%= @assessment_content.answer_d.html_safe %></div>
  </div>

  <br><br>

  <b>Explanation:</b>
  <div class="assessment-answer">
    <div class="answer-icon-mark">1m</div>
    <div class="assessment-text"><%= @assessment_content.mcq_explanation.html_safe %></div>
  </div>

</div>