<div class="assessment-container">
  <b>Question (5m):</b>
  <p class="assessment-question"><%= @assessment_content.question %></p>

  <b>Answer:</b>
  <div class="assessment-answer">
    <div class="answer-icon-mark"><%= if @assessment_content.answer_c.length >10 then "2m" else "3m" end %></div>
    <div class="assessment-text"><%= image_tag @assessment_content.assessment_images.first.image, class: "img-responsive" %></div>
  </div>
  <div class="assessment-answer">
    <div class="answer-icon-mark">1m</div>
    <div class="assessment-text"><%= @assessment_content.answer_a.html_safe %></div>
  </div>
  <div class="assessment-answer">
    <div class="answer-icon-mark">1m</div>
    <div class="assessment-text"><%= @assessment_content.answer_b.html_safe %></div>
  </div>

  <% if @assessment_content.answer_c.length >10 %>
    <div class="assessment-answer">
      <div class="answer-icon-mark">1m</div>
      <div class="assessment-text"><%= @assessment_content.answer_c.html_safe %></div>
    </div>
  <% end %>

  <% if @assessment_content.answer_d.length >10 %>
    <div class="assessment-answer">
      <div class="answer-icon-mark">1m</div>
      <div class="assessment-text"><%= @assessment_content.answer_d.html_safe %></div>
    </div>
  <% end %>

  <% if @assessment_content.mcq_explanation.length >10 %>
    <div class="assessment-answer">
      <div class="answer-icon-mark">1m</div>
      <div class="assessment-text"><%= @assessment_content.mcq_explanation.html_safe %></div>
    </div>
  <% end %>
</div>