<h1>Assessments List</h1>
<br>
<%= link_to 'New Assessment content', new_assessment_content_path %>

<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Video ID</th>
      <th>Type</th>
      <th>Question</th>
      <th>Teacher</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_contents.each do |assessment_content| %>
      <tr>
        <td><%= assessment_content.video_content_id %></td>
        <td><%= assessment_content.content_type %></td>
        <td><%= link_to assessment_content.question, assessment_content %><%=  %></td>
        <td><%= assessment_content.teacher_name %></td>
        <td><%= link_to 'Delete', assessment_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


