<h1>Listing assessment_contents</h1>

<table>
  <thead>
    <tr>
      <th>Video content</th>
      <th>Question</th>
      <th>Choice a</th>
      <th>Choice b</th>
      <th>Choice c</th>
      <th>Choice d</th>
      <th>Answer</th>
      <th>Difficulty level</th>
      <th>Next step</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_contents.each do |assessment_content| %>
      <tr>
        <td><%= assessment_content.video_content_id %></td>
        <td><%= assessment_content.question %></td>
        <td><%= assessment_content.choice_a %></td>
        <td><%= assessment_content.choice_b %></td>
        <td><%= assessment_content.choice_c %></td>
        <td><%= assessment_content.choice_d %></td>
        <td><%= assessment_content.answer %></td>
        <td><%= assessment_content.difficulty_level %></td>
        <td><%= assessment_content.next_step %></td>
        <td><%= link_to 'Show', assessment_content %></td>
        <td><%= link_to 'Edit', edit_assessment_content_path(assessment_content) %></td>
        <td><%= link_to 'Destroy', assessment_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment content', new_assessment_content_path %>
