
<div class="row unrow">
	<div class="col-xs-12 col-sm-3" style="padding:0px;">
		<div class="secondary-nav secondary-nav-button">
			<i class="fa fa-3x fa-mobile pull-left" style="padding: 5px 5px 5px 0px;"></i>
			<h3>Speak to Us</h3>
			<h2>992-291-5273</h2>
		</div>
	</div>

	<div class="col-xs-12 col-sm-9">
		<div class="secondary-nav secondary-nav-invert">
			<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
			<h2 class="font-invert"><b>Hi <%= if user_signed_in? then current_user.first_name else "there" end %>!</b></h2>
			<h3 class="font-invert">We will help you simplfy your study load today ... and everyday</h3>
		</div>
	</div>
</div>

<div class="row unrow">
	<div class="col-xs-12 col-sm-3" style="padding:0px;">
		<%= render "pages/demo_info" %>
	</div>

	<div class="col-xs-12 col-sm-9">
		<% @subjects.each do |subject| %>
			<% if subject.chapters.count == 0 %>
				<div class="subject-card subject-card-locked">
					<h2><b><%= subject.name %></b></h2>
					<h3>Locked</h3>
				</div>
			<% else %>
				<a href="<%= subject_path(subject) %>" class="supress-a">
					<div style="background-color:white;">
						<div class="subject-card" style="background-image: url(/images/card-<%= subject.name.downcase %>.png);"></div>
					</div>
				</a>
			<% end %>
		<% end %>
	</div>
</div>