<div class="col-xs-12 col-sm-3" style="padding:0px;">
	<%= render "pages/demo_info" %>
</div>

<div class="col-xs-12 col-sm-9">

	<div class="secondary-nav secondary-nav-invert">
		<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
		<h2 class="font-invert"><b>Hi <%= if user_signed_in? then current_user.first_name else "there" end %>!</b></h2>
		<h3 class="font-invert">We will help you simplfy your study load today ... and everyday</h3>
	</div>

	<% @subjects.each do |subject| %>

		<% if subject.chapters.count == 0 %>

			<div class="subject-card subject-card-locked">
				<h2><b><%= subject.name %></b></h2>
				<h3>Locked</h3>
			</div>

		<% else %>

			<a href="<%= subject_path(subject) %>" class="supress-a">
				<div class="subject-card">
					<h2><b><%= subject.name %></b></h2>
					<h3><%= subject.chapters.count %> Chapters</h3>
					<div class="dashboard-subject-info">
						show % and link to hacker page
					</div>

				</div>
			</a>

		<% end %>

	<% end %>
</div>