<% if user_signed_in? %>
	<%= render "pages/dashboard" %>
<% else %>

	<div class="secondary-nav home-screen center">

		<br><br><br><br>
		<image src="/images/home-icon-2.png" class="">
		<br><br>
		<h1 class="font-invert"><b>Study Material that makes a difference.<b></h1>
		<h3 class="font-invert" style="line-height: 1.65em;">
			Concepts, Techniques and Assessments designed specifically for easy learning.
			<br>Only for 10th CBSE students.
		</h3>
		<br><br>

		<%= link_to "Start Now", common_dashboard_path, class: "btn btn-modal" %>
	      					
		<!-- <button type="button" class="btn btn-modal" data-toggle="modal" data-target="#choose-class">Start Now</button>
    	
  	<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 modal" id="choose-class" tabindex="-1" role="dialog" aria-hidden="true">
  	  <div class="modal-dialog">
  	    <div class="modal-content">
  	      
  	      <div class="panel-primary panel-title">
  	      	Start Now
  	      </div>

  	      <div class="modal-body"> 
	      		<br>
	      		<h2><b>Select a Course</b><br><br></h2>
	      		<div class= "row">

	      			<div class="col-sm-12 col-md-5 col-md-offset-1">
	      				<div class="panel-orange">
	      				    <div class="panel-title">
	      					   CBSE
	      				    </div>
	      				</div>

	      				<div class="panel-body">
	      					<%= link_to "Class 6", "#", class: "btn btn-lg btn-modal-orange", disabled: "disabled" %>
	      					<%= link_to "Class 7", "#", class: "btn btn-lg btn-modal-orange", disabled: "disabled" %>
	      					<%= link_to "Class 8", common_dashboard_path, class: "btn btn-lg btn-modal-orange" %>
	      					<br>
	      					<%= link_to "Class 9", "#", class: "btn btn-lg btn-modal-orange", disabled: "disabled" %>
	      					<%= link_to "Class 10", "#", class: "btn btn-lg btn-modal-orange", disabled: "disabled" %>
	      				</div>
	      			</div>

	      			<div class="col-sm-12 col-md-5">
	      				<div class="panel-green">
	      				    <div class="panel-title">
	      					   ICSE
	      				    </div>
	      				</div>

	      				<div class="panel-body">
	      					<%= link_to "Class 6", "#", class: "btn btn-lg btn-modal-green", disabled: "disabled" %>
	      					<%= link_to "Class 7", "#", class: "btn btn-lg btn-modal-green", disabled: "disabled"%>
	      					<%= link_to "Class 8", "#", class: "btn btn-lg btn-modal-green", disabled: "disabled" %>
	      					<br>
	      					<%= link_to "Class 9", "#", class: "btn btn-lg btn-modal-green", disabled: "disabled" %>
	      					<%= link_to "Class 10", "#", class: "btn btn-lg btn-modal-green", disabled: "disabled" %>
	      				</div>
	      			</div>
	      		</div>
	      		
  	      </div>

  	    </div>
  	  </div>
  	</div> -->

		<br><br><br><br>
</div>


<div class="secondary-nav center">
	<div class= "row">

		<div class="col-xs-12 col-sm-4">
			<image src="/images/study-fast.png" class="home-icon">
				<h2><b>Study Fast</b></h2>
				<p>
					_________________________________________
					<br>_________________________________________
					<br>_________________________________________
				</p>
		</div>

		<div class="col-xs-12 col-sm-4">
			<image src="/images/learn-smart.png" class="home-icon">
				<h2><b>Learn Smart</b></h2>
				<p>
					_________________________________________
					<br>_________________________________________
					<br>_________________________________________
				</p>
		</div>
		
		<div class="col-xs-12 col-sm-4">
			<image src="/images/score-better.png" class="home-icon" style="padding:7px 0 10px;">
				<h2><b>Score Better</b></h2>				
				<p>
					_________________________________________
					<br>_________________________________________
					<br>_________________________________________
				</p>
		</div>

	</div>
</div>

<% end %>