<div class="content-container">
	<div class="panel-secondary" style="margin-bottom:20px;">
    <div class="panel-title">
	  	Study Progress
    </div>
	</div>

	<div class="row" style="padding-bottom:40px;">

		<div class="col-xs-12 col-sm-4 center">
			<h2 class="font-primary" style="padding:15px;"><b><%= @subject.name %></b></h2>
			<div class="spi-score-big-default"><%= @term_2_studied %></div>
			<h3 class="font-primary" style="margin-top:-25px;">% studied</h3>
		</div>

		<div class="col-xs-12 col-sm-4 center">
			<h2 class="font-primary" style="padding:15px;"><b>Mock FA Tests</b></h2>
			
			<div class="spi-tests" style="padding-top:10px;">
				<% @user_term_2_mock_fas.sort_by(&:attempt).each do |fa| %>
					<% if fa.score == -1 %>
					<!-- not yet completed -->
						<i class="fa fa-lg spi-test-lock"><b><%= link_to "?", assessment_mock_fa_path(fa), class: "supress-a" %></b></i>
						<% @user_term_2_mock_fas_in_progress = 1 %>
					<% else %>
					<!-- scored -->
						<i class="fa fa-lg spi-test-lock-red"><b><%= link_to fa.score, assessment_mock_fa_path(fa), class: "supress-a", style: "color:white" %></b></i>
					<% end %>
				<% end %>
				<% (4-@user_term_2_mock_fas.count).times do |i| %>
					<i class="fa fa-lg fa-rocket spi-test-lock"></i>
				<% end %>
			</div>

			<button class="btn btn-red btn-block active" style="width:166px; margin: -5px auto 0;">AVERAGE: &nbsp;<%= @term_2_spi[:fa_average] %> / 15</button>
		</div>

		<div class="col-xs-12 col-sm-4 center">
			<h2 class="font-primary" style="padding:15px;"><b>Mock SA Tests</b></h2>
			
			<div class="spi-tests" style="padding-top:10px;">
				<% @user_term_2_mock_sas.sort_by(&:attempt).each do |sa| %>
					<% if sa.score == -1 %>
					<!-- not yet completed -->
						<i class="fa fa-lg spi-test-lock"><b><%= link_to "?", assessment_mock_sa_path(sa), class: "supress-a" %></b></i>
						<% @user_term_2_mock_sas_in_progress = 1 %>
					<% else %>
					<!-- scored -->
						<i class="fa fa-lg spi-test-lock-orange"><b><%= link_to sa.score, assessment_mock_sa_path(sa), class: "supress-a", style: "color:white" %></b></i>
					<% end %>
				<% end %>
				<% (4-@user_term_2_mock_sas.count).times do |i| %>
					<i class="fa fa-lg fa-rocket spi-test-lock"></i>
				<% end %>
			</div>

			<button class="btn btn-orange btn-block active" style="width:166px; margin: -5px auto 0;">AVERAGE: &nbsp;<%= @term_2_spi[:sa_average] %> / 90</button>
		</div>

	</div>
</div>

<div class="content-container" style="height:264px;">
	<div class="panel-secondary" style="margin-bottom:20px;">
    <div class="panel-title">
	  	Exam Prep
    </div>
	</div>

	<div class="row" style="padding-bottom:25px;">
		<div class="col-xs-12 col-sm-4 center">
			<h2 class="font-primary" style="padding:15px;"><b>Your Predictive Score</b></h2>
			<div class="spi-score-big"><%= @term_2_spi[:spi] %></div>
			<h3 class="font-invert" style="margin-top:-25px;">out of 90</h3>
		</div>

		<div class="col-xs-12 col-sm-8">
			<h2 class="font-primary" style="padding:15px;"><b>Our recommendation is to focus on</b></h2>
			<% 2.times do |i| %>
				<% unless @term_2_spi[:priortization_order][i][1].round(0) == 0 %>
					<div>
						<div class="spi" style="width:160px; height:58px; margin-top:0;">
							<div class="spi-score" style="width:72px;">+ <%= @term_2_spi[:priortization_order][i][1].round(0) %></div>
						</div>
						<% chapter = @term_2_chapters.find { |x| x.id == @term_2_spi[:priortization_order][i][0] } %>
						<h2 style="margin: -48px 0 24px 110px;">Ch <%= chapter.chapterNumber %>: <%= chapter.name %></h2>
					</div>
				<% end %>	
			<% end %>
		</div>
	</div>
</div>


<div class="content-container">
	<div class="panel-secondary">
    <div class="panel-title center">
	  	Chapterwise Performance
    </div>
	</div>

	<div class="panel-body">
		<ul class="content-list">
		
			<% @term_2_spi[:contribution_order].each do |chapter_contribution| %>
		    <% chapter = @term_2_chapters.find { |x| x.id == chapter_contribution[0] } %>
				<% progress = @user_term_2_chapters_studied.find { |x| x.chapter_id == chapter_contribution[0] } %>

				<a href="<%= chapter_path(chapter_contribution[0]) %>" class="supress-a">
					<li class="content-list-item">
				    						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
						    <% if chapter.status == "Paid" and @user_term_payment[chapter.term-1] == 0 %>
						    	<i class="fa fa-2x fa-lock pull-left cpi-level-lock-icon pull-left"></i>
						    <% else %>
						    	<% if progress == nil %>
						    		<i class="fa fa-2x fa-trophy cpi-level-0-icon pull-left"></i>
						    	<% elsif progress.cpi_level == 4 %>
						    		<i class="fa fa-2x fa-rocket cpi-level-4-icon pull-left"></i>
						    	<% elsif progress.cpi_level == 5 %>
						    		<i class="fa fa-2x fa-gamepad cpi-level-5-icon pull-left"></i>
						    	<% else %>
						    		<i class="fa fa-2x fa-trophy cpi-level-<%= progress.cpi_level %>-icon pull-left"></i>
						    	<% end %>
						    <% end %>

						    <h3>Chapter <%= chapter.chapterNumber %></h3>
								<h2><%= chapter.name %></h2>
							</div>

							<div class="col-xs-12 col-sm-6" style="padding:0;">
								<div class="col-xs-12 col-sm-7">
										
									<h3>Worth ~<%= (chapter.weightage_min + chapter.weightage_max)/2 %>/90 marks</h3>
									<div class="progress progress-spi">
									  <div class="progress-bar progress-bar-studied" role="progressbar" aria-valuenow="<%= progress.chapter_studied %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress.chapter_studied %>%">
									    <span style="float:left; padding: 2px 0 2px 7px;"><%= progress.chapter_studied %>% studied</span>
									  </div>
									</div>
									
								</div>
								<div class="col-xs-12 col-sm-5">
									<h3>Your Performance </h3>
									<div class="cpi-status-<%= progress.cpi_level %>" style="text-align:left; margin: 0 0 0 6px;"><%= $cpi_specs[progress.cpi_level][:status] %></div>
								</div>

							</div>
						</div>

					</li>
				</a>
				
			<% end %>
		</ul>
	</div>
</div>