
<div class="content-container">

	<div class="panel-group" id="accordion-progress-2" role="tablist" aria-multiselectable="true">
		
		<div class="panel panel-default">
			<a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion-progress-2" href="#Progress-2-One" aria-expanded="true" aria-controls="Progress-2-One">
			  <div class="panel-red" role="tab" id="headingOne">
			    <div class="panel-title">
			    	Mock FA
			    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
			    </div>
			  </div>
		  </a>
		  <div id="Progress-2-One" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		    <div class="panel-body center">

		    	<div class="comment-container" style="margin: -13px -18px 17px;">
		    		We recommend completing 2 chapters before your first Formative Assessment (FA) mock exam
		    	</div>
		    	
		    	<div class="spi-tests">
		    		<% if user_signed_in? %>
			    		<% @user_term_2_mock_fas.sort_by(&:attempt).each do |fa| %>
			    			<% if fa.score == -1 %>
			    			<!-- not yet completed -->
			    				<i class="fa fa-lg spi-test-lock"><b><%= link_to "?", assessment_mock_fa_path(fa), class: "supress-a" %></b></i>
			    				<% @user_term_2_mock_fas_in_progress = 1 %>
			    			<% else %>
			    			<!-- scored -->
			    				<i class="fa fa-lg spi-test-lock-red"><b><%= link_to fa.score, assessment_mock_fa_path(fa), class: "supress-a", style: "color:white" %></b></i>
			    			<% end %>
			    		<% end %>
			    		<% (4-@user_term_2_mock_fas.count).times do |i| %>
			    			<i class="fa fa-lg fa-rocket spi-test-lock"></i>
			    		<% end %>
			    	<% else %>
							<% 4.times do |i| %>
								<i class="fa fa-lg fa-rocket spi-test-lock"></i>
							<% end %>
						<% end %>
		    	</div>

		    	<% if !user_signed_in?%>
		    		<div class="btn-group" role="group">
		    			<%= link_to '<i class="fa fa-lock"></i>'.html_safe, "#", class: "btn btn-red active", disabled: "disabled" %>
		    			<%= link_to "TAKE MOCK FA", "#", class: "btn btn-red active", disabled: "disabled" %>
		    		</div>
		    	<% else %>
		    		
		    		<% if @user_term_2_mock_fas_in_progress == 0 %>
		    			<% if @user_term_2_mock_fas.count < 4 %>
		    				<%= link_to "TAKE MOCK FA", { controller: "assessment_mock_fas", action: "new", subject_id: @subject.id, user_id: current_user.id, term: 2, attempt: @user_term_2_mock_fas.count+1, score: -1 }, class: "btn btn-red btn-block" %>
		    			<% else %>
		    				<button class="btn btn-red btn-block active" disabled="disabled"> MOCK FA COMPLETED</button>
		    			<% end %>
		    		<% else %>
		    			<button class="btn btn-red btn-block active" disabled="disabled"> MOCK FA IN PROGRESS</button>
		    		<% end %>
		    	<% end %>
					
		    </div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion-progress-2" href="#Progress-2-Two" aria-expanded="false" aria-controls="Progress-2-Two">
		  	<div class="panel-orange" role="tab" id="headingTwo">
			    <div class="panel-title">
			    	Mock SA
			    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
			    </div>
			  </div>
			 </a>
		  <div id="Progress-2-Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		    <div class="panel-body center">
					
		    	<div class="comment-container" style="margin: -13px -18px 17px;">
		    		We recommend completing 75% studies before your first Summative Assessment (SA) mock exam
		    	</div>

		    	<div class="spi-tests">
		    		<% if user_signed_in? %>
			    		<% @user_term_2_mock_sas.sort_by(&:attempt).each do |sa| %>
			    			<% if sa.score == -1 %>
			    			<!-- not yet completed -->
			    				<i class="fa fa-lg spi-test-lock"><b><%= link_to "?", assessment_mock_sa_path(sa), class: "supress-a" %></b></i>
			    				<% @user_term_2_mock_sas_in_progress = 1 %>
			    			<% elsif sa.score == 0 %>
			    			<!-- completed, not scored -->
			    				<i class="fa fa-lg spi-test-lock-orange"><b><%= link_to "?", assessment_mock_sa_path(sa), class: "supress-a", style: "color:white" %></b></i>
			    			<% else %>
			    			<!-- scored -->
			    				<i class="fa fa-lg spi-test-lock-orange"><b><%= link_to sa.score, assessment_mock_sa_path(sa), class: "supress-a", style: "color:white" %></b></i>
			    			<% end %>
			    		<% end %>
			    		<% (4-@user_term_2_mock_sas.count).times do |i| %>
			    			<i class="fa fa-lg fa-rocket spi-test-lock"></i>
			    		<% end %>
		    		<% else %>
		    			<% 4.times do |i| %>
		    				<i class="fa fa-lg fa-rocket spi-test-lock"></i>
		    			<% end %>
		    		<% end %>
		    	</div>

		    	<% if !user_signed_in? or @user_term_payment[1] == 0 %>
		    		<div class="btn-group" role="group">
		    			<%= link_to '<i class="fa fa-lock"></i>'.html_safe, "#", class: "btn btn-orange active", disabled: "disabled" %>
		    			<%= link_to "TAKE MOCK SA", "#", class: "btn btn-orange active", disabled: "disabled" %>
		    		</div>
		    	<% else %>
		    		
		    		<% if @user_term_2_mock_sas_in_progress == 0 %>
		    			<% if @user_term_2_mock_sas.count < 4 %>
		    				<%= link_to "TAKE MOCK SA #{@user_term_2_mock_sas.count+1}", { controller: "assessment_mock_sas", action: "new", subject_id: @subject.id, user_id: current_user.id, term: 2, attempt: @user_term_2_mock_sas.count+1, score: -1 }, class: "btn btn-orange btn-block" %>
		    			<% else %>
		    				<button class="btn btn-orange btn-block active" disabled="disabled"> MOCK SA COMPLETED</button>
		    			<% end %>
		    		<% else %>
		    			<button class="btn btn-orange btn-block active" disabled="disabled"> MOCK SA <%= @user_term_2_mock_sas.count %> IN PROGRESS</button>
		    		<% end %>
		    	<% end %>

				</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion-progress-2" href="#Progress-2-Three" aria-expanded="false" aria-controls="Progress-2-Three">
			  <div class="panel-green" role="tab" id="headingThree">
			    <div class="panel-title">
			    	My Predictive Score
			    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
			    </div>
			  </div>
		  </a>
		  <div id="Progress-2-Three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		    <div class="panel-body">
		    	
					<% if user_signed_in? %>
						<div class="comment-container" style="margin: -13px -18px 18px;">
							We've crunched the numbers. See your results and our specific recommendations
						</div>
						<div class="spi">
							<div class="spi-score"><%= @term_2_spi[:spi] %></div>
							<h3>out of <%= @term_2_weight %></h3>
						</div>
						<%= link_to "HACKER PAGE", improve_predictive_score_subject_path(@subject), class: "btn btn-block btn-green" %>

					<% else %>
						<div class="comment-container" style="margin: -13px -15px 15px;">
							Predictive score is custom created by analyzing your progress. To see
						</div>
						<%= link_to "SIGNUP NOW", new_user_registration_path, class: "btn btn-block btn-green" %>
					<% end %>

		    </div>
		  </div>
		</div>

	</div>

</div>
