
<div class="panel-primary">
    <div class="panel-title">
	   Term 2 
	  	<div class="panel-right"><%= if user_signed_in? then @user_progresses_term_2.count else "0" end %> / <%= @goals_term_2 %> Goals</div>
    </div>
</div>

<div class="panel-body">
	<ul class="content-list">
		<% @chapters_term_2.sort_by(&:chapterNumber).each do |chapter| %>
			<a href="<%= chapter_path(chapter) %>" class="supress-a">
				<li class="content-list-item">
					<% if chapter.status == "Paid" %>
						<i class="fa fa-2x fa-lock content-list-icon-lock pull-left"></i>
					<% else %>
						<i class="fa fa-2x fa-trophy content-list-icon-<%= ["default", "primary", "green", "orange", "red"].sample %> pull-left"></i>
					<% end %>
					<h3>Chapter <%= chapter.chapterNumber%></h3>
					<h2><%= chapter.name %></h2>
				</li>
			</a>
		<% end %>
	</ul>
</div>