
<div class="panel-primary">
    <div class="panel-title">
	  	Term 1 <span style="font-weight: normal;">: <%= @chapters_term_1.count %> Chapters</span>
	  	<div class="panel-right"><%= if user_signed_in? then @user_progresses_term_1.count else "0" end %> / <%= @goals_term_1 %> Goals</div>
    </div>
</div>

<div class="panel-body">
	<ul class="content-list">
		<% @chapters_term_1.sort_by(&:chapterNumber).each do |chapter| %>
			<a href="<%= chapter_path(chapter) %>" class="supress-a">
				<li class="content-list-item">
					<% if chapter.status == "Paid" %>
						<i class="fa fa-2x fa-lock content-list-icon-lock pull-left"></i>
					<% else %>
						<i class="fa fa-2x fa-trophy content-list-icon-default pull-left"></i>
					<% end %>
					<h3>Chapter <%= chapter.chapterNumber%></h3>
					<h2><%= chapter.name %></h2>
				</li>
			</a>
		<% end %>
	</ul>
</div>