<div class="col-xs-12 col-sm-3" style="padding:0px;">
	<%= render "pages/demo_cta" if @user_term_payment[0] == 0 and @user_term_payment[1] == 0 %>
	<% if user_signed_in? && current_user.role == "Admin" %>
		<%= link_to "Add New Chapter", controller: "chapters", action: "new", subject_id: @subject.id %>
	<% end %>
</div>

<div class="col-xs-12 col-sm-9">
	<div class="content-container">

		<div class="panel-primary">
		    <div class="panel-title">
			   CBSE Textbook
		    </div>
		</div>

		<div class="panel-body">
			<ul class="content-list">
				<% @chapters_all.each do |chapter| %>

					<a href="<%= chapter_path(chapter) %>" class="supress-a">
						<li class="content-list-item">
							<% if chapter.status == "Paid" and @user_term_payment[chapter.term-1] == 0 %>
								<i class="fa fa-2x fa-lock cpi-level-lock-icon pull-left"></i>
							<% else %>

								<% if user_signed_in? %>

									<% progress = @user_term_1_chapters_studied.find { |x| x["chapter_id"] == chapter.id } %>
									
									<% if progress != nil %>
										<% if progress.cpi_level < 4 %>
											<i class="fa fa-2x fa-trophy cpi-level-<%= progress.cpi_level %>-icon pull-left"></i>
										<% elsif progress.cpi_level == 4 %>
											<i class="fa fa-2x fa-rocket cpi-level-4-icon pull-left"></i>
										<% else %>
											<i class="fa fa-2x fa-gamepad cpi-level-5-icon pull-left"></i>
										<% end %>
									<% else %>
										<i class="fa fa-2x fa-trophy cpi-level-0-icon pull-left"></i>
									<% end %>

								<% else %>
									<i class="fa fa-2x fa-lock cpi-level-lock-icon pull-left"></i>
								<% end %>
							<% end %>
							<h3>Chapter <%= chapter.chapterNumber%></h3>
							<h2><%= chapter.name %></h2>
						</li>
					</a>
					
				<% end %>
			</ul>
		</div>

	</div>
</div>