
<div class="secondary-nav secondary-nav-invert">
    
  <i class="fa fa-2x fa-laptop content-list-icon-primary pull-left"></i>
  <h2 class="font-invert"><b>Admin Dashboard</b></h2>
  <h3 class="font-invert"><%= current_user.name %></h3>

  <div class="secondary-nav-actions pull-right dropdown">
    <%= link_to 'Add New Subject', new_subject_path, class: "btn btn-sm btn-modal" %>
  </div>

</div>

<div class="content-container">
  
  <div class="panel-primary">
    <div class="panel-title">
      All Subjects
    </div>
  </div>

  <div class="panel-body">
    <ul class="content-list">
      
      <% @subjects.sort_by(&:standard).reverse!.each do |subject| %>
          <a href="<%= subject_admin_subject_path(subject) %>" class="supress-a">
            <li class="content-list-item">
              <h2><b><%= subject.standard %>th <%= subject.board %>: <%= subject.name %></b></h2>
              <h3> <%= subject.chapters.count %> Chapters</h3>
            </li>
          </a>
      <% end %>
    
    </ul>
  </div>

</div>
