
<div class="col-xs-12 col-sm-3" style="padding:0px;">
	<a href="<%= if user_signed_in? then root_path else common_dashboard_path end %>" class="supress-a">
		<div class="secondary-nav secondary-nav-button">
			<i class="fa fa-2x fa-arrow-left secondary-nav-icon pull-left"></i>
			<h3><%= @subject.standard %>th <%= @subject.board %></h3>
			<h2>All Subjects</h2>
		</div>
	</a>

	<div class="hidden-xs">
		<%= render "pages/demo_info" %>
	</div>

	<% if user_signed_in? && current_user.role == "Admin" %>
		<%= link_to "Add New Chapter", controller: "chapters", action: "new", subject_id: @subject.id %>
	<% end %>

</div>

<div class="col-xs-12 col-sm-9">
	
	<div class="secondary-nav secondary-nav-invert">
			
		<h1 class="font-invert pull-left"><i class="fa fa-fw fa-book"></i></h1>
		<h2 class="font-invert"><b><%= @subject.name %></b></h2>
		<h3 class="font-invert">0 / 75 Goals</h3>
	
  	<div class="secondary-nav-actions pull-right dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    		<button type="button" class="btn btn-sm btn-modal">show <i class="fa fa-fw fa-caret-down"></i></button>
    	</a>
    	<ul class="dropdown-menu">
    		<li>
    			<ul class="nav nav-pill nav-dropdown">
	      	  <li><a href="#textbook" data-toggle="pill">Textbook</a></li>
	      	  <li><a href="#term1" data-toggle="pill">Term 1</a></li>
	      	  <li><a href="#term2" data-toggle="pill">Term 2</a></li>
      		</ul>
      	</li>
      </ul>
    </div>

	</div>

	<div class="content-container">

		<div class="tab-content">
			
			<div class="tab-pane active" id="textbook">
				<%= render "subjects/textbook" %>
			</div>

			<div class="tab-pane" id="term1">
				<%= render "subjects/term1" %>
			</div>

			<div class="tab-pane" id="term2">
				<%= render "subjects/term2" %>
			</div>

		</div>

	</div>
</div>