<div class="col-sm-8 col-sm-offset-2 center">
  
  <div class="content-container">
    
    <div class="panel-green">
      <div class="panel-title">
        Ezee Video Content [<%= @video_content.id %>]
      </div>
    </div>

    <div class="panel-body form-container">

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="form-label">Content Type</div>
          <div class="form-label">Video Name</div>
          <div class="form-label">Video Duration</div>
          <div class="form-label">Dev date</div>
          <div class="form-label">Developer</div>
          <div class="form-label">.</div>
          <div class="form-label">Ezee Content Notes</div>
        </div>
        <div class="col-xs-12 col-sm-9">
          <div class="form-radio" style="margin-bottom: 15px;"><%= radio_button_tag 'theme', 'plain', true %> <b><%= @video_content.content_type %></b></div>
          <div class="form-control form-control-label"><%= @video_content.name %></div>
          <div class="form-control form-control-label"><%= @video_content.video_duration %> min</div>
          <div class="form-control form-control-label"><%= @video_content.production_date.strftime("%d/%m/%Y") %></div>
          <div class="form-control form-control-label"><%= @video_content.producer_name %></div>
          <button type="button" class="btn btn-red btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target="#content">View Video</button>
          <p class="form-radio"><%= @video_content.admin_note.html_safe %></p>
        </div>
      </div>

      <br>
      <%= link_to 'Edit', edit_video_content_path(@video_content), class: "btn btn-green btn-block" %>

    </div>

  </div>

  <p>
    <%= link_to 'All Videos', video_contents_path %> |
    <a href="#" data-toggle="modal" data-target="#usage">View Usage (<%= @video_content.study_materials.count %>)</a> |
    <a href="#" data-toggle="modal" data-target="#assessments">View Assessments (<%= @video_content.assessment_contents.count %>)</a>
    <br>
    <%= link_to "Add MCQ", controller: "assessment_contents", action: "new", video_content_id: @video_content.id, content_type: "MCQ" %> |
    <%= link_to "Add ShortQ", controller: "assessment_contents", action: "new", video_content_id: @video_content.id, content_type: "ShortQ" %> |
    <%= link_to "Add LongQ", controller: "assessment_contents", action: "new", video_content_id: @video_content.id, content_type: "LongQ" %>
  </p>

</div>

<!-- Modal Content -->

<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 modal" id="content" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="panel-red panel-title left">
        <%= @video_content.name %>
        <div class="modal-actions pull-right">
          <button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <div class="modal-body">          
        <div class="videoWrapper">  
          <%= @video_content.content.html_safe %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 modal" id="usage" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="panel-green panel-title left">
        Usage
        <div class="modal-actions pull-right">
          <button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <div class="modal-body">          
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="1">#</th>
              <th>Course</th>
              <th>Chapter</th>
              <th>Goal Name</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @video_content.study_materials.each_with_index do |study_material, i| %>
              <tr>
                <td colspan="1"><%= i+1 %></td>
                <td class="one-line-cell"><%= study_material.chapter.subject.standard %>th <%= study_material.chapter.subject.board %> <%= study_material.chapter.subject.name %></td>
                <td class="one-line-cell"><%= study_material.chapter.name %></td>
                <td><%= study_material.name %></td>
                <td><%= link_to '<i class="fa fa-arrow-right"></a>'.html_safe, edit_study_material_path(study_material) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 modal" id="assessments" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="panel-green panel-title left">
        Assessments
        <div class="modal-actions pull-right">
          <button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <div class="modal-body">          
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="1">#</th>
              <th>Type</th>
              <th>Question</th>
              <th>Submitted by</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @video_content.assessment_contents.sort_by(&:id).each_with_index do |assessment_content, i| %>
              <tr>
                <td colspan="1"><%= i+1 %></td>
                <td class="one-line-cell"><%= assessment_content.content_type %></td>
                <td><%= assessment_content.question.html_safe %></td>
                <td class="one-line-cell"><%= assessment_content.teacher_name %></td>
                <td><%= link_to '<i class="fa fa-arrow-right"></a>'.html_safe, assessment_content_path(assessment_content) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>