<%= form_for(@chapter) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :chapterNumber %><br>
    <%= f.number_field :chapterNumber %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.number_field :term %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.number_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.radio_button(:status, "Free") %>
    <%= label_tag(:status_free, "Free") %>
    <%= f.radio_button(:status, "Paid") %>
    <%= label_tag(:status_paid, "Paid") %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
