<ul class="content-list">

	<% @smart_materials.each do |study_material| %>

			<% if @chapter.status == "Paid" %>
				
				<li class="content-list-item-lock">
					<i class="fa fa-2x fa-lock content-list-icon-orange pull-left"></i>
					<h3>Chapter Map</h3>
					<h2><%= study_material.name %></h2>
				</li>

			<% else %>
			
					<li class="content-list-item" data-toggle="modal" data-target="#show-smart-material-<%= study_material.id %>">
						<i class="fa fa-2x fa-trophy content-list-icon-<%= ["default", "orange"].sample %> pull-left"></i>
						<h3>Visual Notes</h3>
						<h2><%= study_material.name %></h2>
					</li>

			    	
		    	<div class="modal" id="show-smart-material-<%= study_material.id %>" tabindex="-1" role="dialog" aria-hidden="true">
		    	  <div class="modal-dialog">
		    	    <div class="modal-content">
		    	      
		    	      <div class="panel-orange panel-title">
		    	      	<%= study_material.name %>
		    	      	<div class="modal-actions pull-right">
			    	      	<button type="button" class="btn btn-sm btn-modal-orange">Mark as Complete</button>
			    	      	<button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
			    	      </div>
		    	      </div>

		    	      <div class="modal-body"> 
	    	      		<div class="mapWrapper">
	    	      			<div id="flashcontent">
	    	      				Flash not working!
	    	      			</div>
	    	      		</div>
		    	      </div>

		    	    </div>
		    	  </div>
		    	</div>
	
					<!-- For setting MindMap Path -->
					<script type="text/javascript">
						var fo = new FlashObject("<%= asset_path("visorFreeplane.swf") %>", "visorFreeplane", "100%", "100%", 4);
						fo.addParam("quality", "high");
						fo.addVariable("bgcolor", 0xfffffff);
						fo.addVariable("openUrl", "_blank");
						fo.addVariable("initLoadFile", "<%= study_material.interactive_content.content.url %>"); 
						fo.addVariable("startCollapsedToLevel","1");
						fo.write("flashcontent");
					</script>
					
			<% end %>
		
	<% end %>
</ul>

