	<ul class="content-list">
		<!-- TEMPORARY -->
		<% @chapter.study_materials.each do |study_material| %>
			
			<% if study_material.material_type == "Exam Prep" %>

				<% if @chapter.status == "Paid" %>
					
					<li class="content-list-item-lock">
						<i class="fa fa-2x fa-lock content-list-lock pull-left"></i>
						<h3>Multiple Choice Assessment</h3>
						<h2><%= study_material.name %></h2>
					</li>

				<% else %>
				
						<li class="content-list-item" data-toggle="modal" data-target="#show-prep-material-<%= study_material.id %>">
							<i class="fa fa-2x fa-circle content-list-lock pull-left"></i>
							<h3>Multiple Choice Assessment</h3>
							<h2><%= study_material.name %></h2>
						</li>

				    	
			    	<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 modal" id="show-prep-material-<%= study_material.id %>" tabindex="-1" role="dialog" aria-hidden="true">
			    	  <div class="modal-dialog">
			    	    <div class="modal-content">
			    	      
			    	      <div class="panel-green panel-title">
			    	      	<%= study_material.name %>
			    	      	<div class="modal-actions pull-right">
				    	      	<button type="button" class="btn btn-sm btn-modal-green">Mark as Complete</button>
				    	      	<button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
				    	      </div>
			    	      </div>

			    	      <div class="modal-body"> 
		    	      		<div class="docWrapper"><iframe src="<%= study_material.video_source.html_safe %>" frameborder="0" allowfullscreen></iframe></div>
			    	      </div>

			    	    </div>
			    	  </div>
			    	</div>

				<% end %>
				
			<% end %>
			
		<% end %>
	</ul>