  
  <div class="panel-green panel-title">
  	<%= @chapter.name %>: MCQs
  	<div class="modal-actions pull-right">
    	<button type="button" class="btn btn-sm btn-modal-green" disabled="disabled">Incomplete</button>
    	<button type="button" class="btn btn-sm btn-modal" data-dismiss="modal"><i class="fa fa-times"></i></button>
    </div>
  </div>

  <div class="modal-body"> 
		<div class="docWrapper">

  			
  			<div class="tab-content">

				<div class="tab-pane active" id="all">

					<div class="assessmentWrapper">

						<div class="assessment-container">
							<br><br>
							<h2 class="center"><b>Prepare for 1 mark MCQs</b></h2>
							<h3 class="center">choose one to begin</h3>
							<div class="assessment-questions-container"> 
			      	  <% @mcqs.each_with_index do |assessment_content, i| %>
				      	  <a href="#assessment_content-<%= i %>" data-toggle="pill">
				      	  	<div class="question-icon-<%= ["default", "green"].sample %>"><%= i+1 %></div>
				      	  </a>
				      	<% end %>
							</div>

			      						      		
		      	</div>

		      </div>

    			<div class="assessmentAction center">
    	    	<a href="#all" data-toggle="pill">
    	    		<button type="button" class="btn btn-sm btn-modal-green">All Questions</button>
    	    	</a>
    	    </div>

				</div>
				
				<% @mcqs.each_with_index do |assessment_content, i| %>
					
					<div class="tab-pane" id="assessment_content-<%= i %>">
						
						<div class="assessmentWrapper">

							<div class="assessment-container">
							  
							  <div class="assessment-question">
							  	<div class="question-icon"><%= i+1 %></div>
							  	<div class="assessment-text"><b><%= assessment_content.question %></b></div>
							  </div>

							  <div class="mcq-option">
							    <div class="answer-icon<%= "-green" if assessment_content.mcq_answer == "A" %>">A</div>
							    <div class="answer-text"><%= assessment_content.answer_a %></div>
							  </div>
							  <div class="mcq-option">
							    <div class="answer-icon<%= "-green" if assessment_content.mcq_answer == "B" %>">B</div>
							    <div class="answer-text"><%= assessment_content.answer_b.html_safe %></div>
							  </div>
							  <div class="mcq-option">
							    <div class="answer-icon<%= "-green" if assessment_content.mcq_answer == "C" %>">C</div>
							    <div class="answer-text"><%= assessment_content.answer_c.html_safe %></div>
							  </div>
							  <div class="mcq-option">
							    <div class="answer-icon<%= "-green" if assessment_content.mcq_answer == "D" %>">D</div>
							    <div class="answer-text"><%= assessment_content.answer_d.html_safe %></div>
							  </div>

							  <br><br>

							  <b>Explanation:</b>
							  <div class="assessment-answer">
							    <div class="answer-icon-mark">1m</div>
							    <div class="assessment-text"><%= assessment_content.mcq_explanation.html_safe %></div>
							  </div>

							  <% if user_signed_in? && current_user.role == "Admin" %>
							  	<br><br>
							  	<%= link_to 'Edit Assessment', edit_assessment_content_path(assessment_content), class: "btn btn-sm btn-primary" %>
							  <% end %>
							</div>

						</div>													

						<div class="assessmentAction center">
				      <% if i == 0 %>
				      	<button type="button" class="btn btn-sm btn-modal pull-left" disabled="diabled" style="margin-right: -1px;"><i class="fa fa-fw fa-arrow-left"></i> Previous</button>
				    	<% else %>
					      <a href="#assessment_content-<%= i-1 %>" data-toggle="pill">
					    		<button type="button" class="btn btn-sm btn-modal-green pull-left"><i class="fa fa-fw fa-arrow-left"></i> Previous</button>
					    	</a>
					    <% end %>

				    	<a href="#all" data-toggle="pill">
				    		<button type="button" class="btn btn-sm btn-modal-green">All Questions</button>
				    	</a>

				    	<% if i == @mcqs.count-1 %>
								<button type="button" class="btn btn-sm btn-modal pull-right" disabled="diabled" style="margin-left: 22px;">Next <i class="fa fa-fw fa-arrow-right"></i></button>
				    	<% else %>
					    	<a href="#assessment_content-<%= i+1 %>" data-toggle="pill">
					    		<button type="button" class="btn btn-sm btn-modal-green pull-right" style="margin-left: 22px;">Next <i class="fa fa-fw fa-arrow-right"></i></button>
					    	</a>
					    <% end %>
				    </div>

			    </div>

				<% end %>

			</div>
		</div>
  </div>