  <div class="secondary-nav secondary-nav-invert">

    <%= link_to '<i class="fa fa-2x fa-arrow-left content-list-icon-invert pull-left">'.html_safe, chapter_path(@chapter) %></i>
    <h2 class="font-invert"><b>Prep: <%= @chapter.name %></b></h2>
    <h3 class="font-invert">Subjective Short Qs: <%= if user_signed_in? then "2" else "0" end %> / <%= @shortqs.count %></h3>

  </div>

	<div class="row content-container">

		<div class="tab-content">

			<div class="tab-pane active" id="shortq-all">

  			<div class="panel-green panel-title">
						2 & 3 marks prep

						<div class="modal-actions pull-right">
							<button type="button" class="btn btn-sm btn-modal pull-right" disabled="disabled"><i class="fa fa-arrow-right"></i></button>
				    	
					    <button type="button" class="btn btn-sm btn-modal pull-right" disabled="disabled" style="margin-right: -7px;">All Qs</button>

				    	<button type="button" class="btn btn-sm btn-modal pull-right" style="margin-right: -7px;" disabled="disabled"><i class="fa fa-arrow-left"></i></button>
  	    		</div>
  	    </div>

				<div class="assessment-container">
					<br>
					<h2 class="center"><b>Prepare for 2 & 3 marks Subjective Short Qs</b></h2>
					<h3 class="center">choose one to begin</h3>
					<div class="assessment-questions-container"> 
						
	      	  <% @shortqs.each.with_index(1) do |assessment_content, i| %>
		      	  <a href="#shortq-<%= i %>" data-toggle="pill">
		      	  	<div class="question-icon-<%= ["default", "green", "orange"].sample %>"><%= i %></div>
		      	  </a>
		      	<% end %>

					</div>
					<br><br>
	      </div>

			</div>
			
			<% @shortqs.each.with_index(1) do |assessment_content, i| %>
				
				<div class="tab-pane" id="shortq-<%= i %>">

					<div class="panel-green panel-title">
						2 & 3 marks prep

						<div class="modal-actions pull-right">

				      <% if i == @shortqs.count %>
								<button type="button" class="btn btn-sm btn-modal pull-right" disabled="disabled"><i class="fa fa-arrow-right"></i></button>
				    	<% else %>
					    	<a href="#shortq-<%= i+1 %>" data-toggle="pill">
					    		<button type="button" class="btn btn-sm btn-modal pull-right"><i class="fa fa-arrow-right"></i></button>
					    	</a>
					    <% end %>

					    <a href="#shortq-all" data-toggle="pill">
				    		<button type="button" class="btn btn-sm btn-modal pull-right" style="margin-right: -7px;">All Qs</button>
				    	</a>

				    	<% if i == 1 %>
				      	<button type="button" class="btn btn-sm btn-modal pull-right"  style="margin-right: -7px;"disabled="disabled"><i class="fa fa-arrow-left"></i></button>
				    	<% else %>
					      <a href="#shortq-<%= i-1 %>" data-toggle="pill">
					    		<button type="button" class="btn btn-sm btn-modal pull-right" style="margin-right: -7px;"><i class="fa fa-arrow-left"></i></button>
					    	</a>
					    <% end %>


				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    			<button type="button" class="btn btn-sm btn-modal-green">Mark as</button>
				    	</a>

							<ul class="dropdown-menu assessment-dropdown-menu">
				    		<li><button href="#" class="btn btn-sm btn-block btn-link feedback-inactive">Revise later</button></li>
				    		<li><button href="#" class="btn btn-sm btn-block btn-link feedback-inactive">Completed</button></li>
	    	      	<li class="divider"></li>
	    	      	<li class="dropdown-footer">
	    	      		This reduces the study time<br>
	    	      		just before your exam.
	    	      	</li>
				      </ul>

						</div>
					</div>

					<div class="col-sm-10 col-sm-offset-1 assessment-container">
					  
					  <div class="assessment-question">
					  	<div class="question-icon"><%= i %></div>
					  	<div class="assessment-text"><b><%= assessment_content.question.html_safe %></b></div>
					  </div>

					  <b>Answer:</b>
					  <div class="assessment-answer">
					    <div class="answer-icon-mark">1m</div>
					    <div class="assessment-text"><%= assessment_content.answer_a.html_safe %></div>
					  </div>
					  <div class="assessment-answer">
					    <div class="answer-icon-mark">1m</div>
					    <div class="assessment-text"><%= assessment_content.answer_b.html_safe %></div>
					  </div>

					  <% if assessment_content.answer_c.length >10 %>
					    <div class="assessment-answer">
					      <div class="answer-icon-mark">1m</div>
					      <div class="assessment-text"><%= assessment_content.answer_c.html_safe %></div>
					    </div>
					  <% end %>

				  	<br><br>
					  <% if user_signed_in? && current_user.role == "Admin" %>
					  	<%= link_to 'Edit Assessment', edit_assessment_content_path(assessment_content), class: "btn btn-sm btn-primary" %>
					  <% end %>
					</div>												

		    </div>

			<% end %>

		</div>
	</div>

<script type="text/javascript">
	// Javascript to enable link to tab
	var url = document.location.toString();
	if (url.match('#')) {
	    $('.tab-pane a[href=#'+url.split('#')[1]+']').tab('show') ;
	} 

	// Change hash for page-reload
	$('.tab-pane a').on('shown.bs.tab', function (e) {
	    window.location.hash = e.target.hash;
	    $('html,body').scrollTop(scrollmem);
	})
</script>