
<div class="col-xs-12 col-sm-3" style="padding:0px;">
	<a href="<%= subject_path(@chapter.subject) %>" class="supress-a">
		<div class="secondary-nav secondary-nav-button">
			<i class="fa fa-2x fa-arrow-left secondary-nav-icon pull-left"></i>
			<h3>Subject</h3>
			<h2><%= @chapter.subject.name %></h2>

		</div>
	</a>

	<% if user_signed_in? && current_user.role == "Admin" %>
    <%= link_to "Edit Chapter", edit_chapter_path(@chapter) %><br>
    <%= link_to "Add New Study Material", controller: "study_materials", action: "new", chapter_id: @chapter.id %><br>
    <% @study_materials.each do |study_material| %>
    	<br>
    	<%= link_to "Edit #{study_material.name}", edit_study_material_path(study_material) %>
    <% end %>
	<% end %>
</div>

<div class="col-xs-12 col-sm-9">
	<div class="secondary-nav secondary-nav-invert">
		
		<% if @chapter.status == "Paid" %>
			<i class="fa fa-2x fa-lock content-list-icon-lock pull-left"></i>
		<% else %>
			<i class="fa fa-2x fa-trophy content-list-icon-<%= ["default", "primary", "green", "orange", "red"].sample %> pull-left"></i>
		<% end %>

		<h2 class="font-invert"><b><%= @chapter.name %></b></h2>
		<h3 class="font-invert"><%= if user_signed_in? then @user_progresses.count else "0" end %> / <%= @study_materials.count %> Goals</h3>

	</div>
</div>

<div class="hidden-xs col-sm-3" style="padding:0px;">

</div>


<div class="col-xs-12 col-sm-9">
	<div class="content-container">

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			
			<div class="panel panel-default">
				<a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				  <div class="panel-red" role="tab" id="headingOne">
				    <div class="panel-title">
				    	Quick Concepts
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
			  </a>
			  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			    <div class="panel-body">
			    	<%= render "chapters/show_concept_materials" %>
			    </div>
			  </div>
			</div>

			<div class="panel panel-default">
			  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  	<div class="panel-orange" role="tab" id="headingTwo">
				    <div class="panel-title">
				    	Visual Notes
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
				 </a>
			  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			    <div class="panel-body">
			      <%= render "chapters/show_smart_materials" %>
			    </div>
			  </div>
			</div>

			<div class="panel panel-default">
			  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				  <div class="panel-green" role="tab" id="headingThree">
				    <div class="panel-title">
				    	Exam Prep
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
			  </a>
			  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			    <div class="panel-body">
			      <%= render "chapters/show_prep_materials" %>
			    </div>
			  </div>
			</div>

		</div>

	</div>
</div>