
<div class="col-xs-12 col-sm-3" style="padding:0px;">
	<a href="<%= subject_path(@chapter.subject) %>" class="supress-a">
		<div class="secondary-nav">
			<i class="fa fa-2x fa-book secondary-nav-icon pull-left"></i>
			<h3>Subject</h3>
			<h2><%= @chapter.subject.name %></h2>
		</div>
	</a>
</div>

<div class="col-xs-12 col-sm-9">
	<div class="secondary-nav secondary-nav-invert">
		
		<image src="/images/progress-2.png" class="content-list-icon pull-left">
		<h2 class="font-invert"><b><%= @chapter.name %></b></h2>
		<h3 class="font-invert">0 / <%= @chapter.study_materials.count %> Goals</h3>

	</div>
</div>

<div class="hidden-xs col-sm-3" style="padding:0px;">
	<div class="secondary-nav">
		<h3>Progress</h3>
		<h2># items</h2>
	</div>
</div>


<div class="col-xs-12 col-sm-9">
	<div class="content-container">

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				  <div class="panel-red" role="tab" id="headingOne">
				    <div class="panel-title">
				    	Quick Concepts
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
			  </a>
			  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			    <div class="panel-body">
			    	<%= render "chapters/show_study_materials" %>
			    </div>
			  </div>
			</div>

			<div class="panel panel-default">
			  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  	<div class="panel-orange" role="tab" id="headingTwo">
				    <div class="panel-title">
				    	Learn Smart
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
				 </a>
			  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			    <div class="panel-body">
			      <%= render "chapters/show_smart_materials" %>
			    </div>
			  </div>
			</div>

			<div class="panel panel-default">
			  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				  <div class="panel-green" role="tab" id="headingThree">
				    <div class="panel-title">
				    	Exam Prep
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
			  </a>
			  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			    <div class="panel-body">
			      <%= render "chapters/show_prep_materials" %>
			    </div>
			  </div>
			</div>

		</div>

	</div>
</div>