<div class="secondary-nav secondary-nav-invert center">
  <h2 class="font-invert"><b>Summative Assessment - <%= @assessment_mock_sa.term %></b></h2>
  <h3 class="font-invert"><%= @subject.name %>: Mock Test <%= @assessment_mock_sa.attempt %></h3>
</div>

<div class="content-container row">
	<div class="col-sm-10 col-sm-offset-1 assessment-container">

		<%= render 'form' %>
		
		<p class="center">
			<%= link_to 'Cancel', @assessment_mock_sa %>
		</p>
	</div>
</div>
