<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("/images/ezeelogo1.png"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b>Shivam</b> Gupta <i class="fa fa-fw fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Profile", "#" %></li>
            <li><%= link_to "Upgrade", "#" %></li>
            <li><%= link_to "Referrals", "#" %></li>
            <li><%= link_to "Settings", "#" %></li>
            <li><%= link_to "Logout", "#" %></li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>